.current-chat {
    display: flex;
    gap: 30px;
    align-items: center;
    /* height: 100%; */
    width: 100%;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.no-chat-selected {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.msg-container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: space-between;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.messag-box {
    text-align: center;
    font-size: 50px;
}

.msg-box2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.msg-box input {
    flex-grow: 1;
    flex-direction: column;
    /* gap: 10px; */
    padding: 10px;
    height: 100%;
    /* width: 400px; */
    background-color: #f5f5f5;
    /* border-radius: 10px; */
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);



}

.send-btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    /* margin: 8px 0; */
    border: none;
    cursor: pointer;
    width: 80px;
    opacity: 0.9;
}

@media screen and (max-width: 768px) {
    .msg-box input {
        width: 100%;
    }

}